@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
    font-family: '기아';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: center;
}

a {
    color: black;
    text-decoration: none;  
}


/* 네비게이션 바 */

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 10px 16px 0px rgba(102, 102, 102, 0.20);
}

nav img {
    width: 75px;
}

/* 입력 컨테이너 */

.diary-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 84px;
    flex-wrap: nowrap;
    width: 80%;
}


.diary-container > h1 {
    font-size: 48px;
}

.select-container {
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
}

.input-item {
    outline: none;
    background-color: #F7F7F7;
    position: relative;
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #F7F7F7;
    height: 70px;
    margin: 32px 8px 16px;
    padding: 10px 0;
}

.input-item > p {
    position: absolute;
    top: 10px;
    left: 15px;
    margin: 0;
    color: #58595B;
    font-size: 16px;
}

.input-item > input {
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0 12px;
    font-size: 20px;
    width: calc(100% - 20px);
}

.input-item > select {
    background-color: transparent;
    width: 90%;
    padding: 0 12px;
    font-size: 20px;
    border: 0;
}

.input-item > select > option {
    background-color: transparent;
    font-size: 20px;
}

#best-player {
    width: 20%;
}

#today-pitcher {
    width: 20%;
}

#stadium {
    width: 30%;
}

#win-lose {
    width: 10%;
}

.text-container {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #F7F7F7;
    height: 70px;
    margin: 0 8px 16px;
    padding: 10px 0;
    position: relative;
}

.text-container > p {
    position: absolute;
    top: 10px;
    left: 15px;
    margin: 0;
    color: #58595B;
    font-size: 16px;
}

.text-container > input {
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0 12px;
    font-size: 20px;
    border-radius: 5px;
    width: 1144px;
}

.textarea-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

textarea {
    width: calc(100% - 20px);
    height: 40vh;
    border: 0;
    background-color: #F7F7F7;
    white-space: pre-wrap; /* 줄바꿈 유지 및 자동 줄바꿈 */
    overflow-wrap: break;
    font-size: 20px;
    padding: 10px;
    outline: none;
}

button {
    width: calc(100% - 20px);
    height: 72px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 18px;
    background-color: #05141F;
    font-size: 20px;
    color: white;
}