* {
    font-family: '기아';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;  
}


/* 네비게이션 바 */

nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 10px 16px 0px rgba(102, 102, 102, 0.20);
}

nav img {
    width: 75px;
}

#resultChart {
    display: flex;
    width: 50%;
    margin-top: 20%;
}